.no-result-wrapper {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;

  @media only screen and (min-width: 768px) {
    font-size: 5rem;
  }

  @media only screen and (min-width: 960px) {
    text-align: left;
  }
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;

  @media only screen and (min-width: 500px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media only screen and (min-width: 960px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.MuiCardActions-root {
  a {
    text-decoration: none;
    padding: 0.5em 1em;
    background-color: whitesmoke;
    margin: 0.2em;
  }
}