@import 'src/assets/css/colors.scss';

.logo-link {
  text-decoration: none;
  color: $black;

  &:hover {
    text-decoration: none;
  }
}
.logo-wrapper {
  width: fit-content;
  cursor: pointer;
  height: 100%; 
  img {
    width: 100px;

    @media only screen and (min-width: 400px) {
      width: 150px;
    } 
  }
}