@import 'src/assets/css/colors.scss';

.logo-link {
  text-decoration: none;
  color: $black;

  &:hover {
    text-decoration: none;
  }
}
.logo-wrapper {
  width: fit-content;
  cursor: pointer;
  height: 100%; 
  img {
    width: 150px;
  }
}