@import '../../assets/css/colors.scss';

.widen-search-input {
  width: 250px;
  animation: widen-input linear;
  animation-duration: 0.1s;
}

@keyframes widen-input {
  from {
    width: 200px;
  }
  to {
    width: 250px;
  }
}
